<footer class="footer">
    <div class="wrap-footer">
        <div class="wrap-footer-menu">
            <div class="logo-footer">
                <a href="/"><div id="footer-logo" class="logo"></div></a>
                <div id="footer-title" class="title">Хочу к врачу!</div>
            </div>
            <nav>
                <ul class="footer-menu">
                    <li><a href="/authors">Авторы</a></li>
                    <li><a href="/schedule">Расписание</a></li>
                    <li><a href="/account">Личный кабинет</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-line"></div>
        <div class="footer-last">2024 Все права защищены</div>
    </div>
</footer>