<style>
    .info-block {
        flex-direction: column;
    }
</style>
<content class="content">
    <div class="info-block">
        <h2 class="t-info">Разработчики проекта</h2>
        <div class="aut-p-info">Веб-сайт “Хочу к врачу!” реализован Покровской П.В. и Ненартович В.А., студентами 3 курса группы ИСПР 21 1/9 ГБПОУ РК “ФПТ” для “Городская поликлиника №1”. Также данный проект реализован в рамках Производственной практики ПП.08.01</div>
        <a href="https://t.me/polyana677" target="_blank"><button class="btn">Связаться</button></a>
    </div>
</content>