@font-face {
    font-family: Unageo;
    src: url("fonts/Unageo-Medium.ttf");
}

@font-face {
    font-family: InvolveRegular;
    src: url("fonts/Involve-Regular.ttf");
}

@font-face {
    font-family: InvolveMedium;
    src: url("fonts/Involve-Medium.ttf");
}

@font-face {
    font-family: InvolveOblique;
    src: url("fonts/Involve-Oblique.ttf");
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #D9D9D9;
}

th {
    text-align: center;
    font-weight: bold;
  }
  
td {
    width: 150px;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.container {
    display: grid;
    height: 100vh;
    grid-gap: 40px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "header header" "content content" "footer footer";
}

div {
    display: grid;
    align-items: center;
    justify-items: center;
}

.header {
    grid-area: header;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #36BDAD;
    color: white;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-grow: 1;
    margin: 0 130px;
}

    .logo {
        width: 160px;
        height: 100px;
        background-image: url("logo.png");
        background-size: 65%;
        background-position: 0px -20px;
        background-repeat: no-repeat;
    }

    .name-block {
        margin-left: -60px;
    }

    .title {
        font-family: 'Unageo';
        font-size: 20px;
        margin-left: -45px;
    }

    .name {
        font-family: 'InvolveOblique';
        font-size: 15px;
    }

    .wrap-menu, .wrap-footer-menu {
        display: flex;
        flex-grow: 1;
        justify-content: right;
    }

    .burg-menu {
        display: none;
    }

    .menu, .footer-menu {
        position: relative;
        display: flex;
        align-items: center;
        list-style: none;
        padding: 30px;
    }

    .menu a, .footer-menu a {
        color: white;
        text-decoration: none;
        font-family: 'InvolveRegular';
        font-size: 16px;
        margin-left: 18px;
    }

    .menu li:hover, .active {
        text-shadow: rgb(235, 235, 235) 1px 0 10px;
    }

    #sign {
        background-color: #089988;
        border-radius: 33px;
        width: 94px;
        height: 27px;
        padding: 7px 16px;
    }
    #sign:hover {
        background: #068374;
    }

    .acc-logo-nonauth {
        width: 60px;
        height: 60px;
        background-image: url("logo-nonauth.png");
        background-color: #089988;
        background-size: 85%;
        background-position: center;
        background-repeat: no-repeat;
        /* background-color: #089988; */
        border-radius: 50px;
    }
    .acc-logo-nonauth:hover {
        background-color: #068374;
    }

    .acc-logo {
        width: 60px;
        height: 60px;
        background-image: url("acc_logo2.png");
        background-size: 90%;
        background-position: center;
        background-color: #089988;
        border-radius: 50px;
    }
    .acc-logo:hover {
        background-color: #068374;
    }


.content {
    grid-area: content;
    /* border: 3px rgb(145, 0, 0) solid; */
    font-family: 'InvolveRegular';
}


    /* FOR ALL LAYOUTS */

    .page-title {
        margin: 0;
        padding: 10px 15px;
        color: #4D4D4D;
    }

    .pt-line {
        width: 345px;
        height: 0px;
        border: 1px solid rgba(77, 77, 77, 0.6);
    }

    .inpt, .inpt-inv {
        border: none;
        border-bottom: 1px solid grey;
        background-color: #A1CEC9;
        font-family: 'InvolveRegular';
        font-size: 14px;
        padding: 8px 5px 5px 5px;
        width: 300px;
        height: 30px;
    }
    .inpt-inv {
        border-bottom: 1px solid rgb(185, 61, 61);
    }
    .inpt-inv::placeholder {
        color: rgb(185, 61, 61);
    }

    .lble {
        padding: 0 20px;
    }

    .btn {
        width: 220px;
        height: 40px;
        font-size: 18px;
        font-family: 'InvolveRegular';
        color: white;
        background: #089988;
        border-radius: 33px;
        border: 0px;
        cursor: pointer;
    }

    .btn:hover {
        background: #068374;
    }

    /* HOME */

    .info-block {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 1021px;
        height: 468px;
        color: white;
        background-color: #36BDAD;
        border: 3px solid rgba(255, 255, 255, 0.6);
        border-radius: 66px;
    }

    .wrap-png {
        display: flex;
        padding-top: 50px;
    }

    .info-png {
        width: 190px;
        height: 190px;
        padding-top: 110px;
        background-image: url('doc_info.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .report-png {
        width: 180px;
        height: 180px;
        background-image: url('report.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .wrap {
        font-size: 24px;
        padding-top: 15px;
    }

    .t-info {
        margin: 0;
        text-transform: uppercase;
    }

    .p-info{
        width: 390px;
        padding: 30px;
    }

    .services-block {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: row;
        justify-content: flex-start;
        /* border: 1px solid black; */
        padding-top: 20px;
    }

    .services-block a {
        text-decoration: none;
        color: black;
    }

    .services-block #service-o, #service-t, #service-th, #service-f {
        align-items: center;
        justify-items: center;
        width: 159px;
        height: 158px;
        border-radius: 50%;
        margin-left: 76px;
    }
        #service-o {
            background: #36BDAD;
            background-image: url("s-o.png");
        }
        #service-o:hover, #service-t:hover, #service-th:hover, #service-f:hover {
            opacity: 80%;
        }

        #service-t {
            background: #36BDAD;
            background-image: url("s-t.png");
        }
        #service-th {
            background: #36BDAD;
            background-image: url("s-th.png");
        }
        #service-f {
            background: #36BDAD;
            background-image: url("s-f.png");
        }
    
    .services-block p {
        display: block;
        text-align: center;
        margin-left: 80px;
    }

    .last-info {
        display: flex;
        text-align: left;
        padding: 50px 0;
    }

    .last-info p {
        width: 300px;
        padding: 0 40px;
    }

    .map-ya, .map-ya-adaptive {
        -webkit-box-shadow: 7px 7px 17px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 7px 7px 17px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 7px 7px 17px 0px rgba(34, 60, 80, 0.2);
        float: right;
    }
    .map-ya-adaptive {
        display: none;
    }
    
    .alert {
        width: 430px;
        height: auto;
        padding: 13px 0;
        text-align: center;
        border-radius: 30px;
        color: rgb(185, 59, 59);
        background-color: rgb(255, 175, 175);
    }

    .aut-p-info {
        width: 600px;
        padding: 30px;
    }

    /* SIGN */

    .wrapper-time {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding-top: 27px;
        padding-left: 20px;
    }
    .content-time {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 400px;
        height: auto;
        padding: 20px 0 45px 0;
        background-color: #A1CEC9;
        border: 1px solid #7e7e7e;
        border-radius: 40px;
    }
    .case-time {
        width: 80px;
        height: 35px;
        margin: 10px;
        font-size: 14px;
        font-family: 'InvolveRegular';
        background-color: #D9D9D9;
        border: 1px solid grey;
        border-radius: 30px;
    }
    .case-time:hover {
        background-color: #929292;
        border: 1px solid rgb(219, 219, 219);
    }
    #info-time {
        display: flex;
        margin: 0;
        padding: 7px 30px;
        font-size: 13px;
        color: #4D4D4D;
    }

    #doc {
        margin-left: 18px;
    }
    #date {
        margin-left: 16px;
    }
    #time {
        margin-left: 7px;
    }

    .inpt-sign, .inpt-sign-invalid {
        border: none;
        border-bottom: 1px solid grey;
        background-color: #A1CEC9;
        font-family: 'InvolveRegular';
        text-align: center;
        width: 240px;
        height: 30px;
    }
    .inpt-sign-invalid {
        border: 1px solid rgb(185, 61, 61);
    }
    .inpt-sign-invalid::placeholder {
        color: rgb(185, 61, 61);
    }

    .btn-field, .btn-field-reg, .btn-field-sign {
        display: flex;
        justify-content: center;
    }
    .btn-field-reg {
        padding-bottom: 20px;
    }
    .btn-field-sign {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    /* #btn-sign {
        margin: 20px auto 10px auto;
        align-content: center;
    } */

    /* SCHEDULE */

    .wrapper-table {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 55px;
    }

    .schedule-table {
        padding: 20px 0;
        border: 2px solid #909090;
        border-radius: 45px;
    }
    .schedule-table tbody tr:nth-child(odd){
        border-bottom: 1px solid black;
    }
    .schedule-table tbody td{
        font-size: 18px;
        line-height: 20px;
        color: #444441;
        border-top: 1px solid #716561;
    }

    /* AUTH */

    .wrap-auth {
        width: 450px;
        height: auto;
        background-color: #D9D9D9;
        color: #838383;
        border-radius: 65px;
    }

    .input-field {
        display: flex;
        padding: 10px 20px;
    }
    /* #inp-f-s {
        margin: 0 -8px;
    } */

    .inpt-login, .inpt-invalid {
        border: none;
        border-radius: 30px;
        background-color: #A1CEC9;
        font-family: 'InvolveRegular';
        font-size: 15px;
        padding-left: 10px;
        width: 330px;
        height: 35px;
    }
    .inpt-invalid {
        border: 1px solid rgb(184, 48, 48);
    }

    #btn-login-reg {
        margin: 20px auto 10px auto;
        align-content: center;
    }

    .wrap-reg {
        background-color: #D9D9D9;
        width: 600px;
        height: auto;
        border-radius: 60px;
    }

    .wrap-reg h2 {
        color: #838383;
    }

    /* ACCOUNT */

    .acc-title {
        position: absolute;
        float: left;
        padding: 0 45px;
    }

    #acc-menu {
        display: flex;
        flex-direction: column;
        align-items: normal;
        padding: 30px 0 30px 30px;
    }
    #acc-menu li {
        padding: 5px 0;
    }
    #acc-menu a {
        color: black;
    }
    #logout {
        margin-top: 16px;
    }

    .for {
        border-bottom: 2px solid rgb(141, 141, 141);
        width: 230px;
    }

    .med-card {
        display: flex;
        flex-direction: column;
        align-items: normal;
        margin-top: 50px;
        padding: 5px 0px 100px 0px;
        width: 940px;
        height: auto;
        border: 2px solid rgb(141, 141, 141);
    }

    .med-name {
        padding: 0 23px;
        margin-bottom: 7px; 
        text-transform: uppercase;
        font-size: 20px;
    }

    .med-header {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        font-size: 15px;
        /* border: 1px solid black; */
        width: auto;
    }
    .med-header ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: normal;
        list-style-type: none;
        padding-right: 20px;
        /* border: 1px solid black; */
        height: 200px;
    }
    .med-header li {
        text-decoration: none;
        padding-right: 30px;
        margin: 6px 0;
    }

    .wrap-u-png {
        padding-left: 70px;
    }
    .user-png {
        width: 130px;
        height: 150px;
        border: 2px solid #4d4d4d4d;
        background-image: url('user-med.png');
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }

    .tabs-wrapper {
        display: flex;
        align-items: flex-start;
        width: 100%;
        border-top: 1px solid rgb(141, 141, 141);
    }

    .tablinks-title {
        padding: 14px;
        background-color: #CBCBCB;
    }

    .tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        width: 220px;
        background-color: #CBCBCB;
        border: 1px solid #ccc;
    }

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        width: 220px;
        padding: 14px 16px;
        transition: 0.3s;
    }

    .tab button:hover {
        background-color: #afafaf;;
    }

    .tab button.active {
        color: white;
        background-color: #089988;
    }

    .tabcontent {
        display: none;
        border: 1px solid #ccc;
        border-top: none;
        width: 750px;
        height: 400px;
    }
    .tabcontent p {
        padding: 14px;
    }

    .tabcontent-title {
        display: flex;
        background-color: #CBCBCB;
        padding: 14px;
        margin-top: 0px;
    }

    /* PERS */

    .per-head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #med-name-id {
        color: grey;
        padding: 0 23px;
    }

.footer {
    grid-area: footer;
    width: 100%;
    height: 180px;
    color: white;
    font-size: 15px;
    font-family: 'InvolveRegular';
    background-image: url("footer-png.png");
    background-position: 0px -330px;
    background-size: 100%;
    background-repeat: no-repeat;
}

    .wrap-footer {
        margin: 55px 130px;
        padding: 10px 0;
    }
    
    .logo-footer {
        display: flex;
        padding-top: 50px;
    }
    #footer-logo {
        width: 90px;
        background-position: 10px -14px;
    }
    #footer-title {
        font-size: 15px;
        margin-bottom: 40px;
        margin-left: -15px;
    }

    .wrap-footer-menu {
        display: flex;
        justify-content: space-between;
        width:100%;
        height: 10px;
        padding: 31px 0px;
    }

    .footer-line {
        width: 1525px;
        height: 0px;
        border: 1px solid rgba(255, 255, 255, 0.6);
    }

    .footer-last {
        padding: 5px 0;
    }


@media (max-width: 2400px) {
    .footer {
        background-position: 0px -440px;
    }
    .footer-line {
        width: 2025px;
    }
}

@media (max-width: 2200px) {
    .footer {
        background-position: 0px -400px;
    }
    .footer-line {
        width: 1825px;
    }
}

@media (max-width: 2000px) {
    .footer {
        background-position: 0px -350px;
    }
    .footer-line {
        width: 1625px;
    }
}


@media (max-width: 1700px) {
    .footer {
        background-position: 0px -300px;
    }
    .footer-line {
        width: 1325px;
    }
}

@media (max-width: 1500px) {
    .footer {
        background-position: 0px -270px;
    }
    .footer-line {
        width: 1125px;
    }
}

@media (max-width: 1400px) {
    .footer {
        background-position: 0px -230px;
    }
    .footer-line {
        width: 1025px;
    }
}

@media (max-width: 1200px) {
    .footer {
        background-position: 0px -200px;
    }
    .footer-line {
        width: 825px;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        margin: 0;
    }
    .footer {
        background-position: 0px -130px;
    }
    .footer-line {
        width: 625px;
    }
}

@media (max-width: 728px) {
    .footer {
        background-position: 0px -100px;
    }
    .footer-menu a {
        font-size: 12px;
    }
    .footer-line {
        width: 425px;
    }
}

@media (max-width: 600px) {
    /* NAV */

    .wrap-menu .nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 500px;
        background-color: #36BDAD;
        clip-path: polygon(0 0, 100% 0, 100% 0, 1% 0);
        transition: 0.5s;
        border: 2px solid rgb(139, 235, 211);
    }

    .wrap-menu .nav .menu {
        display: block;
    }

    .wrap-menu .nav .menu li {
        padding: 20px 0;
        border-bottom: 1px solid rgb(139, 235, 211);
    }

    .burg-menu {
        display: grid;
        width: 40px;
        height: 40px;
        margin-left: 200px;
        background-image: url('burger-menu.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .wrap-menu .nav.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    /*  */

    .alert {
        width: 320px;
    }
    .logo {
        width: 80px;
        height: 80px;
        background-position: 0px -10px;
    }
    .acc-logo-nonauth {
        width: 40px;
        height: 40px;
    }
    .title {
        font-size: 12px;
        padding-left: 80px;
    }
    .name {
        display: none;
        font-size: 12px;
    }
    .page-title {
        font-size: 15px;
    }
    .menu a {
        font-size: 14px;
    }
    .wrap-footer {
        padding-top: 90px;
        margin: 0;
    }

    .logo-footer {
        display: none;
    }
    
    /* #footer-logo {
        width: 40px;
    }
    #footer-title {
        font-size: 10px;
    } */

    .wrap-footer-menu {
        width: 86%;
        padding-bottom: 12px;
    }
    .footer-menu a {
        font-size: 11px;
    }
    .footer-last {
        font-size: 11px;
    }
    .footer {
        background-position: 0px 30px;
    }
    .footer-line {
        width: 340px;
    }

    /* AUTH */

    .wrap-auth {
        width: 360px;
    }

    .wrap-auth input {
        width: 280px;
    }

    #regs {
        font-size: 12px;
    }

    /* REGISTRATION */

    .wrap-reg {
        width: 400px;
    }
    .wrap-reg h2 {
        font-size: 15px;
    }

    /* HOME */

    .content {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .info-block {
        width: 400px;
    }
    .wrap-png {
        display: none;
    }
    .p-info {
        text-align: center;
        font-size: 13px;
    }
    .services-block {
        flex-direction: column;
    }
    .services-block p, .services-block #service-o, #service-t, #service-th, #service-f {
        margin-left: 0;
    }
    .last-info {
        flex-direction: column;
        height: auto;
    }
    .map-ya-adaptive {
        display: grid;
    }
    .map-ya {
        display: none;
    }

    /* AUTHORS */

    .aut-p-info {
        padding: 20px 0;
        width: 230px;
    }

    /* SCHEDULE */
      
    td {
        width: 50px;
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }

    .schedule-table {
        font-size: 10px;
        width: 100px;
        padding: 10px 0;
    }
    .schedule-table tbody td{
        font-size: 9px;
        line-height: 10px;
    }

    /* SIGN */

    #s-content {
        align-items: flex-start;
    }

    .sign-form {
        width: 100px;
    }

}

@media (max-width: 480px) {
    .footer {
        background-position: 0px 30px;
    }
}